<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
<head></head>
<body>
<wicket:panel>
    <div class="wicketRating" wicket:id="rater">
        <div class="wicketRatingStars"><span wicket:id="element"><a href="CaptchaRatingPanel.html#"
                                                                    wicket:id="link"><img wicket:id="star" alt=""/></a></span>
        </div>
        <div class="wicketRatingText"><span wicket:id="rating"></span></div>
    </div>
</wicket:panel>
</body>
</html>