<html xmlns:wicket="http://wicket.sourceforge.net/">
<head>
    <style type="text/css" media="screen">
        @import url(ProgressBar.css);
    </style>
</head>
<body>
<wicket:panel>
    <div class="wicketstuff-progressbar"><span class="bar" wicket:id="bar" style="width: 10%"></span> <span
            class="label">
	<span class="progress" wicket:id="progessPercentage">10%</span> <span class="message" wicket:id="progressMessage">Message</span> </span>
    </div>
</wicket:panel>
</body>
</html>