p {
	margin:0px;
	padding:0px;
}
ul {
	margin:0px;
	padding:0px;
}
ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
input, button {
	background:transparent
}
a {
	color:#650000;
	text-decoration:none;
}
a:hover {
	color:#5a5a5a;
	text-decoration:underline;
}
a img {
    border: 0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
.clear {
	margin:0px;
	padding:0px;
	height:0px;
	font-size:0px;
	clear:both;
}
#wrapper {
	margin:0px auto;
	width:960px;
}
#branding {
	height:150px;
}
#branding h1{
	font-size:62px;
	font-weight:normal;
}
/*#topbar {*/
    /*background-image:url(../img/topbg.gif);*/
	/*background-repeat:repeat-x;*/
	/*width:960px;*/
	/*height:40px;*/
	/*float:left;*/
/*}*/
ul.topNav  {
	margin:0px;
	padding:0px;
	width:960px;
}
.topNav li{
	 float:left;
	 display:inline-block;
}
.topNav li a{
	 float:left;
     font-family:tahoma, arial;
	 font-size:11px;
	 color:#FFFFFF;
	 text-align:center;
	 line-height:35px;
	 display:inline-block;
	 text-decoration:none;
	 background:#313131;
	 padding-left:12px;
	 padding-right:12px;
	 margin-top:5px;
	 border-right:1px dotted #FFFFFF;
}
.topNav li a:hover{
	background:#FFFFFF;
	color:#000000;
	text-decoration:none;
	 border-right:1px dotted #000000;
}
.topNav li a.topNavAct{
	background:#FFFFFF url(../img/topNavSep.png) no-repeat right bottom;
	color:#000000;
	text-decoration:none;
	height:40px;
	position:relative;
	top:-5px;
	border-right:none;
}
.topNav li a.topNavLast{
	border-right:none;
	padding-left:15px;
	padding-right:15px;
}

.paging {
    width:355px;
    float: left;
    margin-bottom:20px;
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
}

.paging-left {
    text-align:left;
}

.paging-right {
    text-align:right;
}

.search-container{
	background-repeat:no-repeat;
	width:260px;
	height:37px;
	float:right;
	margin-right:60px;
	margin-top:5px;
}
.search-container input.topSearch{
    font-size:18px;
	color:#CACACA;
	line-height:18px;
	background:url(../img/topInpurtArea.png) repeat-x left top;
	border:none;
	width:205px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	height:32px;
	float:left;
	display:inline-block;
}
.searchBtn{
    background-image:url(../img/seach_button.png);
	background-repeat:no-repeat;
	width:35px;
	height:39px;
	cursor:pointer;
	border:none;
	float:right;
	display:inline-block;
	text-indent:999999px;
}

.logo {
    background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	width:400px;
	height:68px;
	margin-left:4px;
	margin-top:42px;
}
.logo a{
	text-indent:-999999px;
	width:354px;
	height:68px;
	display:block;
}
.h4 {
    font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#000000;
	margin-top:12px;
	margin-left:50px;
}
.start {
    width:150px;
	height:93px;
	float:left;
}
.start a{
    background-image:url(../img/start_now_n.png);
	background-repeat:no-repeat;
	width:150px;
	height:93px;
	float:left;
	margin-left:355px;
	margin-top:346px;
}
.start a:hover{
    background-image:url(../img/start_now_r.png);
	background-repeat:no-repeat;
	width:150px;
	height:93px;
	float:left;
	margin-left:355px;
	margin-top:346px;
}
#contant {
	width:960px;
}
#contant h2{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	color:#3a3a3a;
	font-weight:normal;
	margin-bottom:2px;
}
#contant .sub {
	display:block;
	font-size:10px;
	color:#808080;
	border-top:2px dotted #3a3a3a;
	font-family:tahoma, arial;
	padding-top:5px;
    margin-bottom:20px;
}
.contant_1_left {
    width:710px;
	float:left;
}
.contant_1_left img{
	/*float: left;*/
	margin-right:10px;
}
.contant_1_left p{
	font-size:14px;
	color:#3a3a3a;
	font-weight:normal;
	line-height:20px;
}
.contant_1_left p a {
	color:#650000;
	text-decoration:underline;
}
.contant_1_left p a:hover {
	color:#5a5a5a;
	text-decoration:none;
}

.contant_1_left h3{
	font-size:24px;
	background:#757575;
	color:#FFFFFF;
	display:inline;
	padding-left:10px;
	padding-right:10px;
	font-weight:normal;
	line-height:32px;
	padding-top:4px;
	border-bottom:1px solid #C8C8C8;
}

.owncontent ul {
    margin: 5px 0px 5px 18px;
    color: #3A3A3A;
    font-size:14px;
    line-height: 20px;
}

.owncontent ul li {
    list-style: disc outside url("../img/li.gif");
}

.bottomClear {
	clear:right;
	margin-bottom:15px;
}
p.quoteBar {
	background:#F0F0F0;
	padding:5px;
	font-size:11px;
	line-height:14px;
	color:#3D3D3D;
	width:640px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	font-style:italic;
}
.post_iteams {
    width:625px;
	margin-bottom:90px;
}
.post_iteams h3{
	margin:0px;
	padding:0px;
    font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#000000;
	font-weight:normal;
    background:url(../img/bpi1.png) no-repeat left top;
	padding-left:83px;
	padding-bottom:20px;
}
.post_iteams h3 p{
	margin:0px;
	padding:0px;
	padding-top:8px;
    font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#000000;
	font-weight:normal;
}
.post_iteams h3 span{
    background:url(../img/bpi2.png) no-repeat left top;
	display:block;
	height:35px;
	padding-left:40px;
    font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#959595;
}
.post_iteams_contant_box {
	padding-left:80px;
}
.post_iteams_contant_box p {
	margin:0px;
	padding:0px;
    font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#000000;
	font-weight:bold;
}

.sideBar{
    width:240px;
	float:left;
	margin-left:10px;
}
.sideBarItem {
	margin:0px;
	padding:0px;
	margin-bottom:25px;
}
.sideBarItem h3{
	margin:0px;
	padding:0px;
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#3A3A3A;
}
.sideBar .selsidenav {
    background:#EEEEEE;
}
.sideBarItem ul li{
    background:url(../img/sideBarArrow.png) no-repeat 5px 12px;
	display:block;
	height:30px;
	line-height:30px;
	border-bottom:1px  dotted #CBCBCB;
	padding-left:20px;
    font-family:tahoma, "Trebuchet MS";
	font-size:12px;
	font-weight:bold;
}
.sideBarItem ul li a{
	color:#650000;
	text-decoration:none;
}
.sideBarItem ul li a:hover{
	color:#3A3A3A;
	text-decoration:underline;
}
.sideBarItem p{
	font-size:14px;
	font-weight:bold;
	padding-right:10px;
	line-height:20px;
}
.sideBarListBox .top {
    width: 240px;
    height: 10px;
    display: block;
    background:url(../img/sideBarListBoxTop.png) no-repeat;
}
.sideBarListBox .bottom {
    width: 240px;
    height: 10px;
    display: block;
    background:url(../img/sideBarListBoxBottom.png) no-repeat;
}
.sideBarListBox {
	margin-bottom:20px;
    background:#EBE8D9;
}
.sideBarListBox h3{
	margin:0px;
	padding:0px;
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#3A3A3A;
}
.sideBarListBox div {
	padding:0 10px;
}
.sideBarListBox ul{
	background:#EBE8D9;
	/*padding:0 10px;*/
}
.sideBarListBox ul li{
	border-bottom:1px dotted #5A5A5A;
	color:#5A5A5A;
	padding-top:10px;
	padding-bottom:10px;
}
.sideBarListBox ul li a{
	color:#5A5A5A;
	line-height:16px;
}
.sideBarListBox ul li a label{
	line-height:16px;
}
.midBox1 {
	background:url(../img/midBox1.png) repeat-x left top;
	padding:14px 10px;
	border-bottom:2px dotted #737373;
	margin-bottom:20px;
}
.midBox1 span img{
	float:right;
	margin-left:10px;
}
.midBox1Top {
	width:580px;
	text-align:right;
	float:right;
}
.midBox1Top h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	color:#000000;
	font-weight:normal;
	line-height:34px;
	margin-bottom:20px;
}
.midBox1Top p{
	line-height:20px;
}
.midBox1Top img{
	border:none;
	margin-top:5px;
}
.midBox1Bottom {
	width:580px;
	text-align:right;
	float:right;
	margin-top:30px;
}
.midBox1Bottom h4{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color:#3A3A3A;
	font-weight:normal;
	line-height:24px;
	margin-bottom:10px;
	text-align:right;
}
.midBox1Bottom ul li{
    background:url(../img/midBox2Arrow.png) no-repeat right 10px;
	display:block;
	line-height:24px;
	padding-right:10px;
    font-family:tahoma, "Trebuchet MS";
	font-size:14px;
	font-weight:bold;
	margin-right:20px;
}
.midBox1Bottom ul li a{
	color:#262626;
	text-decoration:none;
}
.midBox1Bottom ul li a:hover{
	color:#3A3A3A;
	text-decoration:underline;
}
.midBox2 {
	border-bottom:2px dotted #737373;
	margin-bottom:20px;
	padding:10px;
}
.midBox2L {
 	float:right;
	width:460px;
	margin-right:10px;
}
.midBox2L h2{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:38px;
	color:#3A3A3A;
	font-weight:bold;
	margin-bottom:10px;
	text-align:left;
}
.midBox2L h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	line-height:20px;
	color:#3A3A3A;
	font-weight:bold;
	margin-bottom:10px;
	text-align:left;
}
.midBox2L p{
	font-size:14px;
	line-height:20px;
	color:#262626;
	font-weight:normal;
	margin-top:20px;
	text-align:left;
}

ul.controls {
    padding-top:10px;
    clear: both;
}

ul.controls li {
    display: inline;
    font-size: 0.8em;
}

ul.controls li a {
    background-repeat: no-repeat;
    background-position: left;
    padding: 0em 1.0em 0em 20px;
}

ul.controls li a.printerfriendly {
    background-image: url('../img/icon-printerfriendly.gif');
}

ul.controls li a.comments {
    background-image: url('../img/icon-comments.gif');
}

ul.controls li a.more {
    background-image: url('../img/icon-more.gif');
}

#modalMask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none;
}

#footerContainer {
	background:url(../img/footerContainerBgR.png) repeat-x left top;
	height:50px;
	line-height:50px;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#B7B7B7;
	width:100%;
}
#footerContainer p{
	width:960px;
	margin:auto;
	padding:0px 10px;
}
#footerContainer p label{
	float:right;
}
#footerContainer p label a{
	color:#B7B7B7;
}
#footerContainer p label a:hover{
	color:#666666;
}


table.dataview {
    margin-bottom: 10px;
    border: 1px solid #999;
    width: 700px;

}

table.dataview caption {
    text-align: left;
}

table.dataview tr.even {
    background-color: #fff;
}

table.dataview tr.odd {
/*	background-color: #fff; */
    background: url(../img/bgcode.gif);
}

table.dataview tr td {
    padding: 5px 5px 5px 5px;
}

table.dataview tr th {
    color: #650000;
    padding: 3px 30px 3px 8px;
    background: #FFF no-repeat right;
    border-bottom: 1px solid #CCC;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;

}

table.dataview tr th.wicket_orderDown {
    background-color: #D6EEFF;
}

table.dataview tr th.wicket_orderUp {
    background-color: #D6EEFF;
}

table.dataview tr th a {
    font-weight: bold;
    text-decoration: none;
}

table.dataview #message {
    padding-left: 3px;
}

table.dataview caption {
    padding-bottom: 2px;
}

table.dataview input, select {
    margin-top: 2px;
    margin-bottom: 2px;
}

a.dataview {
    color: #555;
    font: normal 1.1em 'Arial', 'Helvetica', 'Sans-serif', 'sans';
    padding: 3px 6px 3px 6px;
    text-decoration: none;
    border: 1px solid #AAA;
    background: #D4D0C8;
}

.form {
    background:#4A4A4A;
	padding: 10px 20px 20px 20px;
	margin-top:20px;
    float:left;
	width:668px;
    display:block;
}

.formForm p{
	margin-bottom:5px;
    border:none;
}
.formForm p label{
	display:block;
	font-size:14px;
	font-weight:bold;
	padding-bottom:2px;
    color:#e9e9e9;
}

.formRights{
	font-size:12px;
	font-weight:bold;
	padding-right:4px;
    color:#e9e9e9;
}

input.formInputArea {
	background:#FFFFFF;
	border:none;
	padding:6px;
	width:655px;
	height:20px;
	padding-top:4px;
	font-size:18px;
	font-weight:normal;
}

input.mountPointPanelInput {
    width: 550px;
}

.mountPointHint {
    color: red;
    font-weight: bold;
}

p.mountPointPanel {
	font-size:12px;
	font-weight:bold;
	padding-right:4px;
    color:#e9e9e9;
}

textarea.formtextarea {
	background:#FFFFFF;
	border:none;
	padding:6px;
	width:350px;
	height:133px;
	padding-top:6px;
	font-size:18px;
	font-weight:normal;
}

input.formSubmit {
	background:url(../img/submit.png);
	border:none;
	width:108px;
	height:37px;
	font-size:18px;
	font-weight:normal;
	float:right;
	cursor:pointer;
}

.mountPointPanel img {
    float: none;
}

/* addthis.com */
#atff {
    display: none;
}

div.wicket-aa {
    background-color:white;
    border:1px solid #e9e9e9;
    color:black;
}
div.wicket-aa ul {
   list-style-image:none;
   list-style-position:outside;
   list-style-type:none;
   font-size: 18px;
   padding: 5px;
}
div.wicket-aa ul li.selected {
    background-color:#e9e9e9;
    font-size: 18px;
    font-weight:bold;
}

span.feedbackPanelERROR,span.feedbackPanelINFO {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 2px solid #DDDDDD;
    margin-bottom: 1em;
    padding: 0.8em;
    display: block;
}
span.feedbackPanelERROR {
   background: url("../img/error-msg.png") no-repeat scroll 15px 10px #FBE3E4;
   padding-left: 40px;
   border-color: #FBC2C4;
   color: #8A1F11;
}

span.feedbackPanelINFO {
    background: url("../img/success-msg.png") no-repeat scroll 15px 10px #E6EFC2;
    padding-left: 40px;
    border-color: #C6D880;
    color: #264409;
}


table.palette {
    border: 0;
}

table.palette td.header {
    color: #000;
    padding: 3px 30px 3px 8px;
    background-color: #FFF;
    border: 1px solid #CCC;
    text-align: left;
    height: 20px;
    font: bold 1.0em 'Arial', 'Helvetica', 'Sans-serif', 'sans';
}

table.palette td.pane {
    width: 100px;
    text-align: center;
}

table.palette td.pane select {
    width: 250px;
    border: 3px double #AAA;
    color: #555;
    font: normal 1.1em 'Arial', 'Helvetica', 'Sans-serif', 'sans';
}

table.palette td.buttons {
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

table.palette td.buttons button {
    width: 30px;
    height: 30px;
    background: white;
}
