.dialog {
    position: relative;
    margin: 0 auto 0.5em 12px;
    min-width: 8em;
    max-width: 760px; /* based on image dimensions - not quite consistent with drip styles yet */
    color: #fff;
    z-index: 1; /* default, width of left corner */
/* spacing under dialog */
}

.dialog .dialogContent, .dialog .t, .dialog .b, .dialog .b div {
    background: transparent url(../img/dialog2-blue-800x1600.png) no-repeat top right;
    _background-image: url(../img/dialog2-blue.gif);
}

.dialog .dialogContent {
    position: relative;
    zoom: 1;
    _overflow-y: hidden;
    padding: 0 12px 0 0;
}

.dialog .t {
/* top+left vertical slice */
    position: absolute;
    left: 0;
    top: 0;
    width: 12px; /* top slice width */
    margin-left: -12px;
    height: 100%;
    _height: 1600px; /* arbitrary long height, IE 6 */
    background-position: top left;
}

.dialog .b {
/* bottom */
    position: relative;
    width: 100%;
}

.dialog .b, .dialog .b div {
    height: 30px; /* height of bottom cap/shade */
    font-size: 1px;
}

.dialog .b {
    background-position: bottom right;
}

.dialog .b div {
    position: relative;
    width: 12px; /* bottom corner width */
    margin-left: -12px;
    background-position: bottom left;
}

.dialog .hd, .dialog .bd, .dialog .ft {
    position: relative;
    text-align: center;
}

.dialog .wrapper {
/* extra content protector - preventing vertical overflow (past background) */
    position: static;
    max-height: 1000px;
    overflow: auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
}

.dialog h1, .dialog p, .dialog h2 {
    margin: 0; /* margins will blow out backgrounds, leaving whitespace. */
    padding: 0.8em 0 0.5em 0;
    color: #FFF;
}

.dialog h1, .dialog h2 {
    padding-bottom: 0;
    color: #FFF;
}

.dialog.type2 .dialogContent, .dialog.type2 .t, .dialog.type2 .b, .dialog.type2 .b div {
    background-image: url(../img/dialog2-dark-800x1200-alpha-drip.png);
    _background-image: url(../img/dialog2-dark-alpha-drip.gif);
}

/* "drip" variant */
.dialog.drip .b, .dialog.drip .b div {
    height: 75px;
}

.dialog.drip {
    margin-left: 65px;
}

.dialog.drip .t, .dialog.drip .b div, .dialog.drip .hd, .dialog.drip .bd, .dialog.drip .ft, .dialog.drip .wrapper {
    margin-left: -65px;
    width: 65px;
}

.dialog.drip .wrapper {
    width: auto;
}

.dialog .wrapper .hd, .dialog .wrapper .bd, .dialog .wrapper .ft {
    margin-left: 0;
}

.dialog.drip .hd, .dialog.drip .bd, .dialog.drip .ft {
    zoom: 1;
    width: auto;
    padding: 0 2px 0 12px;
}

.bubblePopup {
    z-index: 9999;
    position: absolute;
}