/* autocomplete for tags */
div.wicket-aa {
    font: normal 1.0em 'Arial', 'Helvetica', 'Sans-serif', 'sans';
    background-color: white;
    border: 1px solid #cccccc;
    padding: 0;
    margin: 0 0 0 0;
    text-align: left;
}

.tagView {
    border-width: 1px;
    text-align: left;
}

.tagView a {
    color: #777;
    text-decoration: none;
}

.tagView a:hover {
    color: #111;
    text-decoration: none;
}

.tagViewSelected a {
    color: #111;
    background-color: #EEEEEE;
    text-decoration: none;
}