.bookmarkheadline {
	border-bottom:2px dotted #3a3a3a;
    padding-bottom: 2px;
}

#contant div.bookmarksub {
	border:none;
}

.bookmarkLeft {
    float:left;
    width: 520px;
}

.bookmarkRight {
    margin-top:10px;
    float:right;
    width: 170px;
}

.bookmarkRight p {
    font-size: 11px;
    line-height: normal;
}