.commentsMain {
    background:#4A4A4A;
	padding: 10px 20px 20px 20px;
	margin-top:20px;
   color:#e9e9e9;
}

.commentsMain h3{
   background: none;
   border: none;
   font-family:Georgia, "Times New Roman", Times, serif;
   font-size:26px;
   color:#e9e9e9;
   font-weight:bold;
   margin-bottom:10px;
   text-align:left;
   padding: 10px 0px 10px 0px;
}

.commentsMain p {
    color:#E1E1E1;
	font-size:14px;
	line-height:20px;
    border-top:2px dotted #E1E1E1;
    padding-top:20px;
}

.commentsMain a {
    color: #FFFFFF;
}

.commentsMain img {
    float: none;
}

.commentsMain .paging {
    width:330px;
    float: left;
    margin-bottom:20px;
    font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
}

.commentsMain .paging-left {
    text-align:left;
}

.commentsMain .paging-right {
    text-align:right;
}

.commentMetaInfo {
    color: #CCC;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.commentAdmin {
    padding-bottom:20px;
}

.commentAccepted {
    color: white;
    background-color: green;
    padding: 2px;
}

.commentRejected {
    color: white;
    background-color: red;
    padding: 2px;
}

.commentBlocked {
    color: white;
    background-color: #FF9900;
    padding: 2px;
}

.commentForm {
	float:right;
	width:630px;
    display:block;
}

.commentFormL {
	width:200px;
	margin-right:10px;
	float:left;
	margin-top:20px;
}
.commentFormR {
	width:400px;
	margin-right:10px;
	float:left;
	margin-top:20px;
}
.commentForm p{
	margin-bottom:5px;
    border:none;
}
.commentForm p label{
	display:block;
	font-size:14px;
	font-weight:bold;
	padding-bottom:2px;
}
input.commentInputArea {
	background:#FFFFFF;
	border:none;
	padding:6px;
	width:150px;
	height:20px;
	padding-top:4px;
	font-size:18px;
	font-weight:normal;
}
textarea.commenttextarea {
	background:#FFFFFF;
	border:none;
	padding:6px;
	width:350px;
	height:133px;
	padding-top:6px;
	font-size:18px;
	font-weight:normal;
}

input.commentSubmit {
	background:url(../img/submit.png);
	border:none;
	width:108px;
	height:37px;
	font-size:18px;
	font-weight:normal;
	float:right;
	cursor:pointer;
    margin-right: 38px;
}

input.error,
select.error,
textarea.error {
    background-color: #FFDC60;
}

select.commentInputArea:focus,
input.commentInputArea:focus,
textarea.commenttextarea:focus{
    background-color:#FFEBAD;
}