.downloadheadline {
	border-bottom:2px dotted #3a3a3a;
    padding-bottom: 2px;
}

#contant div.downloadsub {
	border:none;
}

.downloadLeft {
    float:left;
    width: 505px;
}

.downloadRight {
    margin-top:10px;
    float:right;
    width: 190px;
}

.downloadLabel {
    width: 80px;
    display: block;
    float: left;
}